.footer{
    background: #f1e90a;
    color: #290404;
    padding: 40px 0;
    font-family: sans-serif;
}
.text{
    justify-content: center;
    margin-bottom: 10px;
    font-size: 18px;
}
.ahref {
    display: flex;
    gap: 100px;
    color: white;
    align-items: center;
    justify-content: center;
}

.ahref a{
    color: white;
    text-decoration: none;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.dog {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    border: 10px solid orange;
    background-color: yellow;
}

.dog img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.dog img:hover {
    transform: scale(1.05);
}